$color__verde:rgb(73, 177, 135);
$color__morado:rgb(79, 52, 75);
$color__rojo: rgb(250, 81, 67);
$color__amarillo:rgb(251, 183, 7);
$color__azul:rgb(5, 162, 198);
$color__blanco:rgb(255, 255, 255);
$color__negro:rgb(43, 43, 43);
