/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Imports
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Maven+Pro:wght@500&family=Rubik:wght@900&display=swap');
//@import "~rfs/scss";
@import"reset.scss";
@import"colors.scss";
@import"mixins.scss";
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Fuentes
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
$tipo__titulos: 'Rubik', sans-serif;
$tipo__subtitulos: 'Maven Pro', sans-serif;
$tipo__textos: 'Karla', sans-serif;

/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Header
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.header{
  &__navbar{
    @include flex(flex, row, wrap, space-between, center);
    width: 100%;
    max-height: 5rem;
    /* backdrop-filter: blur(2em); */
    position: fixed;
    z-index: 2;
    border-radius:0;
    margin:0;
    padding: 2em;
    top: 0;
    &__ul{
      @include flex(flex, row, wrap, center, center);
      li:first-child{
        margin-left: 0;
      }
      li{
        @include parrafo($tipo__subtitulos,clamp(0.8rem,1.5vw,2rem), 900, $color__blanco);
        text-transform: uppercase;
        margin-left: 1em;
      }
    }
    &__logo{
      max-height: 3em;
    }
  }

}
/*
**************************************************
––––––––––––––––––––––––––––––––––––––––––––––––––
Hero
––––––––––––––––––––––––––––––––––––––––––––––––––
**************************************************
*/
.hero {
  min-height: 100vh;
  background-color: $color__morado;
  @include flex(flex, row, wrap, space-around, center);
  &__image {}

  &__info {
    background-color: aqua;
    max-width:30em;

    &__title {
      @include parrafo($tipo__titulos, clamp(1rem,2vw,4rem), 900, $color__blanco);
      text-transform: uppercase;
      span{
        font-size: clamp(2.5rem, 5vw, 5rem);
        width: 100%;
        margin: auto;
        display: block;
      }
    }
  }

  &__silder {}

}
